{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<div class="row">
    <p class="title">Developers:</p>
</div>
<div class="row">
    <div class="container col-lg-3 col-md-6 col-sm-12">
        <div class="col-lg-6 h2">
            <h3>Chris Budo</h3>
            <p>Backend and Data Developer</p>
        </div>
        <div class="col-lg-6">
            <img src="../static/content/img/15293403_1625942354097868_567547012_o.jpg" class="img-circle img-responsive" />
        </div>
    </div>
    <div class="container col-lg-3 col-md-6 col-sm-12">
        <div class="col-lg-6 h2">
            <h3>Luke Craig</h3>
            <p>Backend and Data Developer</p>
        </div>
        <div class="col-lg-6">
            <img src="../static/content/img/IMG_0767.jpg" class="img-circle img-responsive" />
        </div>
    </div>
    <div class="container col-lg-3 col-md-6 col-sm-12">
        <div class="col-lg-6 h2">
            <h3>Olivia Ejde</h3>
            <p>Full Stack Developer</p>
        </div>
        <div class="col-lg-6">
            <img src="../static/content/img/IMG_0766.jpg" class="img-circle img-responsive" />
        </div>
    </div>
    <div class="container col-lg-3 col-md-6 col-sm-12">
        <div class="col-lg-6 h2">
            <h3>Rithvik Subramanya</h3>
            <p>Front End Developer</p>
        </div>
        <div class="col-lg-6">
            <img src="../static/content/img/IMG_0768.jpg" class="img-circle img-responsive" />
        </div>
    </div>
</div>
{% endblock %}
