{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<div class="jumbotron norm">
    <address>
        5500 Wabash Ave.<br />
        Terre Haute, IN. 47803<br />
        <abbr title="Phone">P:</abbr>
        812.877.1511
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@rendezvouswith.me">Support@rendezvouswith.me</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@rendezvouswith.me">Marketing@rendezvouswith.me</a>
    </address>
</div>
{% endblock %}
