{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="text-center">Rendezvous With Me!</h1>
    <p class="h2">
        Have you ever wanted to set up a series of interviews? Project Check-ins with your students?
        How about auditions for your music group? <br />
        We make it easy for you to do any of these!  Create an account and easily create a schedule of timeslots
        that you can send out to a list of emails - we make it simple, easy and painless! Once a user signs up for
        we send both of you a meeting invite so you can add it to your personal calendar! If either of you have to cancel,
        go through the web interface and we'll handle notifying everyone necessary.
    </p>
</div>
<div class="row top">
    <div class="text-center entrance">
        <h1 class="buttonLink">Select your role:</h1>
    </div>
</div>
<div class="row buffer2 text-center">
    <a href="{{ url_for('plan') }}"
       class="btn btn-xl btn-outline-secondary buttonLink">Planner</a> <a href="" class="btn btn-xl btn-outline-secondary buttonLink">Attendee</a>

</div>

{% endblock %}
