{% extends "layout.html" %}

{% block content %}
<script src="http://jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>
<link rel="stylesheet" type="text/css" href="http://jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">

<script>
    $(function () {
        $("#datepicker").datepicker();
        $("#datepicker2").datepicker();
    });

    $(function () {
        $('#timepicker').timepicker();
        $('#timepicker2').timepicker();
    });
</script>


<div class="row top buffer2">
    <div class="text-center entrance">
        <h1>
            Start planning with
            <span class="cursive">Rendezvous</span>
        </h1>
    </div>
</div>
<div class="col-xs-3 buffer2 text-center">
    <h2 class="buttonLink">Desired dates:</h2>
</div>


<div class="row">
        <div class='col-xs-3 buffer2 text-center'>
        <label for="datepicker" class="h2">Start date</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <input type="text" id="datepicker" class="form-control">
            </div>
    </div>


    <div class='col-xs-3 buffer2 text-center'>
        <label for="datepicker2" class="h2">End date</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            <input type="text" id="datepicker2" class="form-control">
        </div>
    </div>
</div>

<div class="col-xs-3 buffer2 text-center">
    <h2 class="buttonLink">Desired time range:</h2>
</div>
<div class="row">
    <div class='col-xs-3 buffer3 text-center'>
        <label for="timepicker" class="h2">Start time</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            <input type="text" id="timepicker" class="form-control">
        </div>
    </div>


    <div class='col-xs-3 buffer3 text-center'>
        <label for="timepicker2" class="h2">End time</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            <input type="text" id="timepicker2" class="form-control">
        </div>
    </div>
</div>
<div class="col-xs-3 buffer2 text-center">
    <h2 class="buttonLink">Desired length of time slot:</h2>
</div>
<div class="col-xs-1"></div>
<div class='col-xs-3 buffer3 text-center'>
    <div class="input-group text-center">
        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        <input type="text" class="form-control">
    </div>
</div>
<div class="col-xs-1 text-center buffer4">
    <p class="h2">minutes</p>
</div>


{% endblock %}
