{% extends "layout.html" %}

{% block content %}

meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>jQuery UI Datepicker - Default functionality</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
      $("#datepicker").datepicker();
      $("#datepicker2").datepicker();
  } );
</script>


<div class="row top buffer2">
    <div class="text-center entrance">
        <h1>
            Start planning with
            <span class="cursive">Rendezvous</span>
        </h1>
    </div>
</div>
<div class="col-xs-3 buffer2 text-center">
    <h2 class="buttonLink">Desired dates:</h2>
</div>


    <div class="row">
        .    <div class='col-xs-3 buffer2 text-center'>
                <label for="datepicker" class="h2">Start date</label>
                 <p><input type="text" id="datepicker"></p>
            </div>


        <div class='col-xs-3 buffer2 text-center'>
            <label for="datepicker2" class="h2">End date</label>
                    <p><input type="text" id="datepicker2"></p>
                </div>
          </div>
      
 

{% endblock %}
